repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
      - id: debug-statements
      - id: end-of-file-fixer
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        args: [-l 79]
-   repo: https://github.com/PyCQA/isort
    rev: 5.6.4
    hooks:
      - id: isort
