[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
coverage = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
